server {
    listen       80;
    server_name  {{ domain }};

    location / {
        rewrite ^(.*)$         https://$host$1 permanent;
    }

    location ^~ /.well-known {
        allow  all;
        root   /var/www/certbot;
    }
}

server {
    listen       443 ssl http2;
    server_name  {{ domain }};

    root                       /usr/share/nginx/html;
    access_log                 /var/log/nginx/{{ domain }}/access-$logdate.log main;
    error_log                  /var/log/nginx/{{ domain }}/error.log error;

    ssl_certificate            /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key        /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    ssl_trusted_certificate    /etc/letsencrypt/live/{{ domain }}/chain.pem;

    include                    ssl_params;

    resolver                   8.8.8.8 8.8.4.4 valid=300s;
    resolver_timeout           5s;

    add_header                 Strict-Transport-Security "max-age=31536000" always;
    add_header                 X-Content-Type-Options nosniff;
    add_header                 X-Frame-Options sameorigin;
    add_header                 Cache-Control  no-cache;

    if ($request_method !~ ^(GET|HEAD|POST|PUT|DELETE|OPTIONS)$ ) {
        return                 444;
    }

    location /mystatus {
        stub_status;
    }

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }
}
